streamlit==1.39.0
langchain==0.3.7
langchain-community==0.3.7
langchain-google-genai==2.0.5
google-generativeai==0.8.3
pymongo==4.10.1
sentence-transformers==3.3.1
pandas==2.2.3
numpy>=1.23.2,<2.0.0
plotly==5.24.1
networkx==3.4.2
python-dotenv==1.0.1
scikit-learn==1.5.2
faiss-cpu==1.9.0
requests==2.32.3
beautifulsoup4==4.12.3
Pillow==10.4.0
altair==5.5.0
motor==3.6.0
dnspython==2.7.0